.container{
    max-width: 1000px;
    margin: 100px auto 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid silver;
    list-style: none;
}

.name {
    font-weight: bold;
}

.price {
    padding-left: 10px;
}

.summary {
    font-weight: bold;
}