$height: 100%;
$maxHeight: 700px;
$padding: 10px;
$width: 100%;

.firstColumn {
  flex: 67%;
  height: $height;
  max-height: $maxHeight;
  padding: $padding;
  width: $width;
}

.playingViewContainer {
  display: flex;
  @media (max-width: 768px) {
    display: contents;
  }
}

.secondColumn {
  flex: 33%;
  height: $height;
  max-height: $maxHeight;
  padding: $padding;
  width: $width;
}
