* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: relative;
  background-color: #29a6dc;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

header .clock {
  z-index: 1;
  top: 0.75%;
  left: 5%;
  right: 5%;
  font-family: "Saira Condensed", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header > * {
  position: absolute;
}

header img {
  height: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
}

header div.welcome {
  z-index: 1;
  top: 7%;
  left: 5%;
  right: 5%;
  font-family: "Saira Condensed", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  margin-top: 10px;
  font-size: 18px;
}

header h2 {
  font-size: 18px;
  font-weight: normal;
}

header button {
  font-family: "Saira", sans-serif;
  font-weight: 300;
  line-height: 32px;
  padding: 0 20px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  font-size: 12px;
  border: 2px solid white;
}

@media (orientation: portrait) and (min-width: 275px) and (max-width: 285px) {
  header h1 {
    font-size: 16px;
  }
  header h2 {
    font-size: 16px;
  }
  header p {
    margin-top: 45px;
  }
  header button {
    line-height: 40px;
    font-size: 15px;
  }
  header img {
    right: -20%;
    left: 9%;
    top: 43%;
    zoom: 0.5;
  }
}

@media (orientation: portrait) and (min-width: 300px) {
  header .clock {
    font-size: 18px;
  }
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    right: -20%;
    left: 17%;
  }
}

@media (orientation: portrait) and (min-width: 360px) and (max-width: 369px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    right: -20%;
    left: 10%;
    top: 37%;
    zoom: 0.6;
  }
}

@media (orientation: portrait) and (min-width: 370px) and (max-width: 376px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    right: -20%;
    left: 15%;
    top: 39%;
    zoom: 0.55;
  }
}

@media (orientation: portrait) and (min-width: 377px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    right: -20%;
    left: 11%;
    top: 37%;
    zoom: 0.65;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  header h1 {
    font-size: 26px;
  }
  header h2 {
    font-size: 26px;
  }
  header button {
    margin-top: 40px;
    line-height: 50px;
    font-size: 20px;
  }
  header img {
    right: -20%;
    left: 25%;
    top: 51%;
  }
}

@media (orientation: portrait) and (min-width: 411px) and (max-width: 416px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    right: -20%;
    left: 10%;
    top: 35%;
    zoom: 0.7;
  }
}

@media (orientation: portrait) and (min-width: 500px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    bottom: -3%;
    left: 25%;
  }
}

@media (orientation: portrait) and (min-width: 501px) and (max-width: 540px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    right: -20%;
    left: 26%;
    top: 42%;
    zoom: 0.55;
  }
}

@media (orientation: portrait) and (min-width: 541px) and (max-width: 639px) {
  header h1 {
    font-size: 22px;
  }
  header h2 {
    font-size: 22px;
  }
  header button {
    margin-top: 24px;
    line-height: 40px;
    font-size: 16px;
  }
  header img {
    right: -20%;
    left: 0%;
    top: 43%;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  header p {
    font-size: 60px;
  }
  header h1 {
    font-size: 32px;
  }
  header h2 {
    font-size: 32px;
  }
  header button {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }
  header img {
    right: -20%;
    left: 25%;
    top: 40%;
    zoom: 0.8;
  }
}

@media (orientation: portrait) and (min-width: 819px) and (max-width: 821px) {
  header p {
    font-size: 60px;
  }
  header h1 {
    font-size: 32px;
  }
  header h2 {
    font-size: 32px;
  }
  header button {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }
  header img {
    right: -20%;
    left: 23%;
    top: 39%;
    zoom: 0.9;
  }
}

@media (orientation: portrait) and (min-width: 910px) and (max-width: 913px) {
  header p {
    font-size: 60px;
  }
  header h1 {
    font-size: 32px;
  }
  header h2 {
    font-size: 32px;
  }
  header button {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }
  header img {
    right: -20%;
    left: 22%;
    top: 39%;
    zoom: 1.1;
  }
}

@media (orientation: portrait) and (min-width: 914px) {
  header p {
    font-size: 60px;
  }
  header h1 {
    font-size: 32px;
  }
  header h2 {
    font-size: 32px;
  }
  header button {
    margin-top: 60px;
    line-height: 60px;
    font-size: 24px;
  }
  header img {
    right: -20%;
    left: 24%;
    top: 34%;
  }
}

@media (orientation: landscape) {
  header img {
    height: 80%;
    bottom: 0;
    left: 53%;
    right: -5%;
  }
  header div.welcome {
    top: 15%;
    left: 7%;
    right: 48%;
  }
  header button {
    margin-top: 40px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  header h1 {
    font-size: 24px;
  }
  header h2 {
    font-size: 24px;
  }
  header button {
    font-size: 16px;
    line-height: 40px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  header div.welcome {
    left: 3%;
  }

  header p {
    font-size: 46px;
  }
  header h1 {
    margin-top: 40px;
    font-size: 34px;
  }
  header h2 {
    font-size: 34px;
  }
  header button {
    margin-top: 80px;
    font-size: 28px;
    line-height: 70px;
  }

  header img {
    right: -22%;
    top: 12%;
    zoom: 0.75;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  header div.welcome {
    text-align: left;
    left: 6%;
  }
  header p {
    font-size: 80px;
  }
  header h1 {
    margin-top: 40px;
    font-size: 50px;
  }
  header h2 {
    font-size: 50px;
  }
  header button {
    margin-top: 100px;
    font-size: 30px;
    line-height: 80px;
    padding: 0 40px;
    border-width: 2px;
  }

  header img {
    right: -18%;
    height: 80%;
    zoom: 0;
  }
}

@media (orientation: landscape) and (min-width: 1600px) {
  header div.welcome {
    left: 8%;
  }
  header p {
    font-size: 100px;
  }
  header h1 {
    margin-top: 40px;
    font-size: 60px;
  }
  header h2 {
    font-size: 60px;
  }
  header button {
    line-height: 90px;
  }

  header img {
    right: -8%;
    height: 90%;
  }
}

@media (min-width: 1024px) {
  header button {
    cursor: pointer;
    transition: 0.3s;
  }
  header button:hover {
    background-color: #fff;
    color: #111;
  }
}
