.AfterConvertion {
    border-right: 1px solid black;
}

.ClearHistory{
    color: white;
    cursor: pointer;
    text-decoration: underline;
    transform: translate(-14vw, 30vh);
    white-space: nowrap;
}

@media (max-width: 360px) {
  .ClearHistory {
    transform:translate(-49vw, 40vh);
   }
}

@media (min-width: 370px) and (max-width: 375px) {
  .ClearHistory {
    transform: translate(-52vw, 43vh);
   }
}

.CloseIcon {
    transform: translate(-8vw, -23vh);
    font-weight: 400;
    color: white;
}

@media (max-width: 360px) {
    .CloseIcon {
        transform: translate(-31vw, -37vh);
        font-weight: 400;
        color: white;
    }
}

@media (min-width: 370px) and (max-width: 375px){
    .CloseIcon {
        transform: translate(-29vw, -37vh);
    }
}

.HistoryButton {
    display: flex;
}

.GoToCurrencyHistory {
    cursor: pointer;
}

.HistoryArea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.HistoryData {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-top: 1px solid white;
    border-right: 1px solid white;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    color: white;
}

@media (max-width: 360px){
 .HistoryData {
    margin-bottom: 6vh;
  }
}

@media (min-width: 370px) and (max-width: 375px){
    .HistoryData {
       margin-bottom: 6vh;
       margin-left: -14vw;
     }
   }

.HistoryData > span {
    background-color: blue;
    padding: 8px 4px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.LackOfHistory {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 6vh;
    height: 100%;
    width: 100%;
}

.Loading {
    color: white;
    position: relative;
    left: 9vw;
}

.Modal {
   background-color: white;
   position: absolute;
   right: 1.5vw;
   top: 81vh;
}
