.button {
    cursor: pointer;
    height: 100%;
    margin-left: 2px;
}

.form {
    max-width: 403px;
    width: 100%;
}

.input {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-right: 3vw;
}

.searchBarContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 250px;
    max-width: 400px;
    width: 100%;
}

.submitContainer {
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    padding-top: 0.5vh;
}
