.button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 100%;
    margin-left: -1px;
    max-width: 91px;
    width: 100%;
}

.button:hover {
    background-color: #00b2ee;
}

.dropdown {
    width: 100%;
}

.dropdownItem {
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.dropdownItem:hover {
    background-color: aliceblue;
}

.form {
    max-width: 403px;
    width: 100%;
}

.input {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5vh;
    max-width: 262px;
    width: 100%;
}

.input:hover {
    background-color: aliceblue;
    border: 2px solid black;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    padding-right: 3vw;
}

.searchBarContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 250px;
    max-width: 400px;
    width: 100%;
}

.submitContainer {
    display: flex;
    flex-direction: row;
    padding-left: 1vw;
    padding-top: 0.5vh;
}
