.content {
    display: flex;
    justify-content: center;
}

.image {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1vh;
    padding-top: 4vw;
}

.title {
    display: flex;
    font-weight: bold;
    font-family: 1rem;
    justify-content: center;
    max-width: 302px;
    text-align: center;
    width: 100%;
}

.video-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding-top: 3vh;
}

.video-item.item img {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 405px;
    max-height: 250px;
    padding-top: 1vw;
    width: 100%;
}
