.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.Button {
  cursor: pointer;
  max-width: 70px;
  width: 100%;
}

.Button:hover {
  font-weight: bold;
}

.HeaderLabel {
  align-items: center;
  display: flex;
  font-weight: bold;
  font-style: italic;
  justify-content: center;
  padding-top: 25px;
}
