.container {
    align-items: center;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    margin-top: 1vw;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1vw;
        width: 100%;
    }
}
