* {
  margin: 0;
  padding: 0;
}

.ButtonsContainer {
  background-color: aquamarine;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  height: 100%;
  padding-left: 2vw;
  padding-top: 1.5vh;
  width: 100%;
}

.Button {
  border: solid 3px black;
  cursor: pointer;
  font-weight: bold;
  min-width: 50%;
  margin-bottom: 2vh;
  text-transform: capitalize;
}

.Button:hover {
  color: red;
}

.ButtonOfTheSameBreedContainer {
  display: flex;
  flex-flow: wrap;
}

.ButtonOfTheSameBreed {
  border: solid 3px black;
  cursor: pointer;
  font-weight: bold;
  min-width: 50%;
  margin-bottom: 2vh;
  margin-right: 2vh;
  text-transform: capitalize;
}

.ButtonOfTheSameBreed:hover {
  color: red;
}

.Loading {
  background-color: aquamarine;
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
}

.SiteTitle {
  display: flex;
  background-color: cornflowerblue;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
  height: 100%;
  width: 100%;
}
