.Button {
  cursor: pointer;
}

.Button:hover {
  font-weight: bold;
}

.Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Input {
  margin-bottom: 4px;
  margin-top: 4px;
}
