.squareBlock {
    align-items: center;
    background-color: #ccc;
    height: 100%;
    display: flex;
    justify-content: center;
    max-height: 500px;
    max-width: 500px;
    width: 100%;
}

.squareBlock:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.squareBlockAfterFirstClick {
    align-items: center;
    background-color: #00ff00;
    height: 100%;
    display: flex;
    justify-content: center;
    max-height: 500px;
    max-width: 500px;
    width: 100%;
}

.squareBlockAfterFirstClick:hover {
    cursor: pointer;
}
