body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ApplicationArea {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue; 
  overflow: scroll;
}

.CurrencyForm {
  align-self: center;
  width: 30%;
}

.CurrencyHistory {
  align-self: center;
  width: 30%;
}

.EmptyArea {
  align-self: center;
  background-color: white;
  width: 20%;
}
